    * { 
    margin: 0; 
    padding: 0; 
} 
html { 
    margin: 30px 0; 
    overflow-x: hidden; 
} 

div { 
 
    height: 280px; 
    width: 300px;  
    margin-bottom: 100px; 
    position: absolute; 
    background-image: url("car.png");
   
}

.black {  
    background-image: url("blackcar.png");

    height: 500px; 
    width: 300px;  
    margin-bottom: 100px; 
    position: absolute;
}

body {
	background-color:#778899;
	color: white;
	
}

h3 {
	color:#ADD8E6;
	text-decoration:underline;
	text-shadow: 3px 2px white;
}
h1 { 
	color: solid black;
	text-decoration:underline;
	text-shadow: 3px 2px white;
}

body {
	font-family: Courier New;
}

.light { 

  height: 100px; 

  width : 100px; 

  border-radius: 50%; 

  opacity : 0.3; 

  margin: 0 auto; 

  display: inline-block; 

} 


.stop {background-color: red;} 

.slow {background-color: yellow;} 

.go {background-color: green;} 

.on {opacity: 1;} 

 
\